.myHomeSwiper .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.myHomeSwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 800px;
  max-height: 420px; 
  overflow: hidden;
    border-radius: 1rem;
}

.myHomeSwiper .swiper-slide img {
  display: block;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
}